.body_backgorund 
{
    background-color: #F3F3F3;
    background-image: url("https://cdn.wallpapersafari.com/33/59/rTwkyZ.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
a:link {
    /* removes the underline */
    text-decoration:deeppink;
}

/* mouse over link */
a:hover {
    color: white;
    background-color: #DE354C;
    text-decoration:none;
}

/* selected link */
a:active {
    color: green;
    text-decoration:none;
}
#myCanvas
{
    border-width:10px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    border-style:ridge;
	border-color:darkorange; 

}
.fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }